h6 {
    margin-top: 20px;
    margin-left: 20px;
    width: 880px;
}
.card-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.card-image {
    height: 300px;
}
#spinner {
    display: none;
    margin: 0 auto;
    margin-top: 200px;
}
#search-input {
    border-right: none;
}
#clsBtn {
    display: none;
    background-color: #ffffff;
    border-left: none;
}
.form-control:focus {
    border-color: #CED4DA;
    box-shadow: none;
  }
